---
import Layout from "../layouts/Layout.astro";
import Atributos from "../components/Atributos.astro";
import Interior from "../components/Interior.astro";
import Exterior from "../components/Exterior.astro";
import Swiper from "../components/Swiper.astro";
import ColoresExterior from "../components/ColoresExterior.astro";
import Equipamiento from "../components/Equipamiento.astro";
import Seguridad from "../components/Seguridad.astro";
import Especificaciones from "../components/Especificaciones.astro";
---

<Layout title="GAC EMPOW">
  <main class="mx-auto max-w-lg xl:max-w-screen-xl px-4 poppins-regular">
    <section
      class="grid grid-cols-7 my-8 xl:my-20 bg-[#f5f5f5] bg-[url('/empow/img/fondo-cta-m.jpg')] xl:bg-[url('/empow/img/fondo-cta.jpg')] bg-cover bg-[center_right_1.5rem] xl:bg-contain bg-no-repeat xl:aspect-[1440/500]"
    >
      <div class="col-span-3 xl:col-span-4"></div>
      <div
        class="col-span-4 xl:col-span-3 flex flex-col items-center justify-center gap-1 xl:gap-4 py-1 xl:py-8"
      >
        <img
          src="/empow/img/logo-modelo.svg"
          alt="GAC EMPOW"
          class="max-w-32 xl:max-w-full"
        />
        <div>
          <p class="poppins-medium xl:text-lg">Precio desde:</p>
          <p class="poppins-extrabold uppercase xl:text-3xl">$ 19.990.000</p>
        </div>
        <a
          href="http://gacmotor.cl/content/uploads/ft-gac-motor-empow-2.pdf"
          class="block border border-neutral-400 rounded-full px-2 xl:px-8 py-2 uppercase poppins-medium text-xs xl:text-base text-center"
          >Descargar ficha técnica</a
        >
        <a
          href="https://gacmotor.cl/cotizador/formulario/?id=5627"
          class="block bg-rojo text-white rounded-full px-8 py-2 uppercase poppins-medium text-xs xl:text-base"
          >Cotizar</a
        >
      </div>
    </section>

    <section
      class="grid grid-cols-1 xl:grid-cols-3 my-8 xl:my-16 gap-y-8 xl:gap-16"
    >
      <div>
        <img src="/empow/img/sobre-m.png" alt="foto" class="xl:hidden" />
        <img src="/empow/img/sobre.png" alt="foto" class="hidden xl:block" />
      </div>
      <div class="col-span-2" id="general">
        <h1 class="poppins-bold uppercase text-3xl xl:text-6xl">
          SOBRE EL GAC
          <img
            src="/empow/img/logo-modelo2.svg"
            alt="GAC EMPOW"
            class="inline-block xl:block max-w-28 xl:max-w-xs mt-2"
          />
        </h1>
        <p class="my-8">
          El GAC Empow es un sedán deportivo que combina diseño audaz y alto
          rendimiento, con un motor turbo 1.5L que entrega 167 HP. Es ideal
          tanto para la ciudad como para la carretera, ofreciendo una conducción
          ágil y emocionante en cada kilómetro.
        </p>
        <p class="my-8">
          En su interior, el GAC Empow destaca por su espacio, tecnología
          avanzada y comodidad. Equipado con una pantalla de infoentretenimiento
          de 10.25", modos de conducción ajustables y un completo sistema de
          seguridad, este increíble auto de aspecto deportivo brinda potencia y
          confort a quienes desean una experiencia de manejo superior.
        </p>
      </div>
    </section>

    <Atributos />

    <Interior />

    <Exterior />

    <ColoresExterior />

    <Equipamiento />

    <Seguridad />

    <Especificaciones />

    <section class="grid xl:grid-cols-3 gap-16 my-8 xl:my-20" id="precios">
      <img
        src="/empow/img/precios-izq.png"
        alt="foto"
        class="hidden xl:block"
      />
      <div class="col-span-2" id="precios">
        <h2 class="poppins-bold uppercase text-3xl xl:text-6xl">
          Precios y financiamiento
        </h2>
        <div class="mt-10">
          <h3
            class="pt-1 pb-3 pl-6 bg-black text-white poppins-bold text-2xl rounded-tr-xl tab relative"
          >
            GAC EMPOW
          </h3>
          <table class="precios">
            <thead>
              <tr>
                <th colspan="2"
                  ><span class="text-2xl align-middle mr-1">$</span> Valores generales</th
                >
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Precio lista</td>
                <td class="text-right">$ 20.990.000</td>
              </tr>
              <tr>
                <td>Bono marca</td>
                <td class="text-right">$ 500.000</td>
              </tr>
              <tr>
                <td>Bono Santander Consumer</td>
                <td class="text-right">$ 500.000</td>
              </tr>
              <tr>
                <td>Total bonos</td>
                <td class="text-right">$ 1.000.000</td>
              </tr>
              <tr>
                <td class="bg-black text-white">Precio final con bonos</td>
                <td class="text-right bg-black text-white">$ 19.990.000</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </main>
  <Swiper />
  <script is:inline>
    // smooth scroll
    document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
      anchor.addEventListener("click", function (e) {
        e.preventDefault();

        document.querySelector(this.getAttribute("href")).scrollIntoView({
          behavior: "smooth",
        });
      });
    });
  </script>

  <style lang="scss">
    table.precios {
      width: 100%;
      border-collapse: collapse;
      th {
        background-color: #f6f6f6;
        border: 1px solid #dbdbdb;
        text-align: left;
        padding: 0.6rem 1rem 0.6rem 1.5rem;
      }
      td {
        border-top: 1px solid #dbdbdb;
        padding: 0.5rem;
        @media (min-width: 1280px) {
          padding: 0.9rem;
          padding-left: 3rem;
        }
        &:first-child {
          border-left: 1px solid #dbdbdb;
        }
        &:last-child {
          border-right: 1px solid #dbdbdb;
          white-space: nowrap;
        }
      }
    }

    .tab::before {
      content: "";
      position: absolute;
      top: -13px;
      left: 0;
      width: 180px;
      height: 20px;
      background-color: black;
      border-top-left-radius: 0.75rem;
      border-top-right-radius: 0.75rem;
    }

    .tab::after {
      content: "";
      position: absolute;
      top: -15px;
      left: 164px;
      width: 20px;
      height: 30px;
      background-color: black;
      border-top-right-radius: 0.75rem;
      transform: rotate(-45deg);
    }
  </style>
</Layout>
