<!-- Swiper -->
<div class="swiper mySwiper leftSwiper my-8 xl:my-16">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <section class="grid grid-cols-1 xl:grid-cols-7">
        <h2 class="xl:hidden poppins-bold uppercase text-3xl mb-2">
          ATRIBUTOS
        </h2>
        <div class="xl:col-span-3">
          <img src="/img/atrib1.png" alt="foto" />
        </div>
        <div class="xl:col-span-4">
          <h2 class="hidden xl:block poppins-bold uppercase text-6xl pl-20">
            ATRIBUTOS
          </h2>
          <p
            class="xl:my-8 xl:bg-[url('/img/fondo-der.svg')] p-4 xl:py-10 xl:px-20"
          >
            El GAC Empow posee un diseño deportivo y agresivo. Su frontal
            destaca por una parrilla amplia y faros LED que resaltan su
            carácter. Las líneas aerodinámicas y laterales marcadas mejoran su
            rendimiento y le otorgan una presencia imponente en la carretera.
            Además, sus llantas de aleación y detalles contrastantes refuerzan
            su estilo dinámico y moderno.
          </p>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section class="grid grid-cols-1 xl:grid-cols-7">
        <h2 class="xl:hidden poppins-bold uppercase text-3xl mb-2">
          ATRIBUTOS
        </h2>
        <div class="xl:col-span-3">
          <img src="/img/atrib2.png" alt="foto" />
        </div>
        <div class="xl:col-span-4">
          <h2 class="hidden xl:block poppins-bold uppercase text-6xl pl-20">
            ATRIBUTOS
          </h2>
          <p
            class="xl:my-8 xl:bg-[url('/img/fondo-der.svg')] p-4 xl:py-10 xl:px-20"
          >
            Está equipado con un motor 1.5T de inyección directa, que ofrece una
            potencia máxima de 167 HP y un torque de 270 Nm. Este motor de
            tercera generación, con tecnología de sobrealimentador de doble
            conducto e intercooler, proporciona un rendimiento potente,
            manteniendo a la vez un bajo consumo de combustible, lo que lo
            convierte en una opción eficiente y de alto desempeño.
          </p>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section class="grid grid-cols-1 xl:grid-cols-7">
        <h2 class="xl:hidden poppins-bold uppercase text-3xl mb-2">
          ATRIBUTOS
        </h2>
        <div class="xl:col-span-3">
          <img src="/img/atrib3.png" alt="foto" />
        </div>
        <div class="xl:col-span-4">
          <h2 class="hidden xl:block poppins-bold uppercase text-6xl pl-20">
            ATRIBUTOS
          </h2>
          <p
            class="xl:my-8 xl:bg-[url('/img/fondo-der.svg')] p-4 xl:py-10 xl:px-20"
          >
            Incorpora una transmisión semi-automática de doble embrague con 7
            velocidades (7WDCT), ofreciendo mayor eficiencia y respuesta rápida
            entre cambios. Esta transmisión brinda una conducción más suave y
            confiable en comparación con las transmisiones de tipo CVT,
            mejorando la experiencia al volante en todo tipo de terrenos.
          </p>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section class="grid grid-cols-1 xl:grid-cols-7">
        <h2 class="xl:hidden poppins-bold uppercase text-3xl mb-2">
          ATRIBUTOS
        </h2>
        <div class="xl:col-span-3">
          <img src="/img/atrib4.png" alt="foto" />
        </div>
        <div class="xl:col-span-4">
          <h2 class="hidden xl:block poppins-bold uppercase text-6xl pl-20">
            ATRIBUTOS
          </h2>
          <p
            class="xl:my-8 xl:bg-[url('/img/fondo-der.svg')] p-4 xl:py-10 xl:px-20"
          >
            Está equipado con tecnología de vanguardia. Su pantalla de 10.25”
            ofrece un completo sistema de infoentretenimiento con conectividad
            avanzada. Cuenta con múltiples modos de conducción y un sistema de
            asistencia a la conducción que incluye advertencia de colisión
            friontal, frenado automático y asistente de estacionamiento,
            brindando seguridad y confort en cada trayecto.
          </p>
        </div>
      </section>
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
