<!-- Swiper -->
<div class="swiper mySwiper leftSwiper my-8 xl:my-16">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <section class="grid grid-cols-1 xl:grid-cols-7">
        <h2 class="xl:hidden poppins-bold uppercase text-3xl mb-2">
          ATRIBUTOS
        </h2>
        <div class="xl:col-span-3">
          <img src="/aion-y/img/atrib1.png" alt="foto" />
        </div>
        <div class="xl:col-span-4">
          <h2 class="hidden xl:block poppins-bold uppercase text-6xl pl-20">
            ATRIBUTOS
          </h2>
          <p
            class="xl:my-8 xl:bg-[url('/aion-y/img/fondo-der.svg')] p-4 xl:py-10 xl:px-20"
          >
            Diseño frontal con aspecto tecnológico y futurista. Su carrocería
            aerodinámica reduce la resistencia al viento, mejorando la
            eficiencia energética. Sus líneas laterales son sencillas y suaves,
            contando con molduras en llantas y puertas en colores que contrastan
            y resaltan su diseño dándole una personalidad única.
          </p>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section class="grid grid-cols-1 xl:grid-cols-7">
        <h2 class="xl:hidden poppins-bold uppercase text-3xl mb-2">
          ATRIBUTOS
        </h2>
        <div class="xl:col-span-3">
          <img src="/aion-y/img/atrib2.png" alt="foto" />
        </div>
        <div class="xl:col-span-4">
          <h2 class="hidden xl:block poppins-bold uppercase text-6xl pl-20">
            ATRIBUTOS
          </h2>
          <p
            class="xl:my-8 xl:bg-[url('/aion-y/img/fondo-der.svg')] p-4 xl:py-10 xl:px-20"
          >
            Equipado con una batería de litio-ferrofosfato de alta capacidad. Su
            avanzada tecnología de compartimento seguro garantiza la protección
            contra sobrecalentamientos, proporcionando una mayor seguridad. El
            sistema de enfriamiento líquido y el monitoreo constante de la
            batería aseguran un rendimiento óptimo y seguro en todo momento.
          </p>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section class="grid grid-cols-1 xl:grid-cols-7">
        <h2 class="xl:hidden poppins-bold uppercase text-3xl mb-2">
          ATRIBUTOS
        </h2>
        <div class="xl:col-span-3">
          <img src="/aion-y/img/atrib3.png" alt="foto" />
        </div>
        <div class="xl:col-span-4">
          <h2 class="hidden xl:block poppins-bold uppercase text-6xl pl-20">
            ATRIBUTOS
          </h2>
          <p
            class="xl:my-8 xl:bg-[url('/aion-y/img/fondo-der.svg')] p-4 xl:py-10 xl:px-20"
          >
            Pantalla de control central touch de 14,6” con sistema de
            infoentretenimiento. Palanca de cambios electrónica inteligente,
            integrada detrás del volante. Cuenta también con una pantalla de
            instrumentos digital de 10,25” que proporciona acceso a todas las
            funciones del vehículo.
          </p>
        </div>
      </section>
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
