<section
  class="bg-[url('/aion-y/img/fondo-colores-int.svg')] bg-contain bg-no-repeat bg-bottom my-8 xl:my-16 xl:aspect-[1361/680]"
>
  <h2 class="poppins-bold uppercase text-3xl xl:text-6xl text-right">
    Colores interior
  </h2>
  <!-- Swiper -->
  <div class="swiper intSwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="/aion-y/img/color-int1.png" alt="color" class="xl:-mt-12" />
      </div>
      <div class="swiper-slide">
        <img src="/aion-y/img/color-int2.png" alt="color" class="xl:-mt-12" />
      </div>
      <div class="swiper-slide">
        <img src="/aion-y/img/color-int3.png" alt="color" class="xl:-mt-12" />
      </div>
      <div class="swiper-slide">
        <img src="/aion-y/img/color-int4.png" alt="color" class="xl:-mt-12" />
      </div>
      <div class="swiper-slide">
        <img src="/aion-y/img/color-int5.png" alt="color" class="xl:-mt-12" />
      </div>
    </div>
  </div>
  <div class="flex gap-4 justify-center mt-4 [&>*]:cursor-pointer">
    <img
      src="/aion-y/img/icolor1.svg"
      alt="color1"
      onclick="changeColorInt(0)"
    />
    <img
      src="/aion-y/img/icolor2.svg"
      alt="color2"
      onclick="changeColorInt(1)"
    />
    <img
      src="/aion-y/img/icolor3.svg"
      alt="color3"
      onclick="changeColorInt(2)"
    />
    <img
      src="/aion-y/img/icolor4.svg"
      alt="color4"
      onclick="changeColorInt(3)"
    />
    <img
      src="/aion-y/img/icolor5.svg"
      alt="color5"
      onclick="changeColorInt(4)"
    />
  </div>
</section>
