<section
  class="bg-[url('/empow/img/fondo-colores-ext.svg')] bg-contain bg-no-repeat bg-bottom my-8 xl:my-16 aspect-[1361/680]"
>
  <h2 class="poppins-bold uppercase text-3xl xl:text-6xl">Colores exterior</h2>
  <!-- Swiper -->
  <div class="swiper extSwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img
          src="/empow/img/color-ext1.png"
          class="mx-auto xl:max-w-[820px]"
          alt="color"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="/empow/img/color-ext2.png"
          class="mx-auto xl:max-w-[820px]"
          alt="color"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="/empow/img/color-ext3.png"
          class="mx-auto xl:max-w-[820px]"
          alt="color"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="/empow/img/color-ext4.png"
          class="mx-auto xl:max-w-[820px]"
          alt="color"
        />
      </div>
    </div>
  </div>
  <div class="flex gap-4 justify-center [&>*]:cursor-pointer">
    <img src="/empow/img/color1.svg" alt="color3" onclick="changeColor(0)" />
    <img src="/empow/img/color2.svg" alt="color4" onclick="changeColor(1)" />
    <img src="/empow/img/color3.svg" alt="color5" onclick="changeColor(2)" />
    <img src="/empow/img/color4.svg" alt="color6" onclick="changeColor(3)" />
  </div>
</section>
