<section
  class="bg-[url('/empow/img/fondo-colores-ext.svg')] bg-contain bg-no-repeat bg-bottom my-8 xl:my-16 aspect-[1361/680]"
>
  <h2 class="poppins-bold uppercase text-3xl xl:text-6xl">Colores exterior</h2>
  <!-- Swiper -->
  <div class="swiper extSwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img
          src="/empow/img/color-ext1.png?v=2"
          class="mx-auto xl:max-w-[820px]"
          alt="color"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="/empow/img/color-ext2.png?v=2"
          class="mx-auto xl:max-w-[820px]"
          alt="color"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="/empow/img/color-ext3.png?v=2"
          class="mx-auto xl:max-w-[820px]"
          alt="color"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="/empow/img/color-ext4.png?v=2"
          class="mx-auto xl:max-w-[820px]"
          alt="color"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="/empow/img/color-ext5.png?v=2"
          class="mx-auto xl:max-w-[820px]"
          alt="color"
        />
      </div>
    </div>
  </div>
  <div class="flex gap-4 justify-center [&>*]:cursor-pointer">
    <div class="w-16 flex flex-col items-center gap-1">
      <img src="/empow/img/color1.svg" alt="color1" onclick="changeColor(0)" />
      <p>Negro</p>
    </div>
    <div class="w-16 flex flex-col items-center gap-1">
      <img src="/empow/img/color2.svg" alt="color2" onclick="changeColor(1)" />
      <p>Verde</p>
    </div>
    <div class="w-16 flex flex-col items-center gap-1">
      <img src="/empow/img/color3.svg" alt="color3" onclick="changeColor(2)" />
      <p>Blanco</p>
    </div>
    <div class="w-16 flex flex-col items-center gap-1">
      <img src="/empow/img/color5.svg" alt="color4" onclick="changeColor(3)" />
      <p class="text-center">Gris Plata</p>
    </div>
    <div class="w-16 flex flex-col items-center gap-1">
      <img src="/empow/img/color6.svg" alt="color4" onclick="changeColor(4)" />
      <p class="text-center">Grafito</p>
    </div>
  </div>
</section>
