<!-- Swiper -->
<div
  class="swiper mySwiper leftSwiper2 py-8 xl:py-0 xl:my-16"
  id="equipamiento"
>
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <section
        class="xl:bg-[url('/empow/img/fondo-equip.svg')] bg-contain bg-no-repeat xl:aspect-[1440/621]"
      >
        <h2 class="poppins-bold uppercase text-3xl xl:text-6xl xl:text-right">
          EQUIPAMIENTO Y TECNOLOGÍA
        </h2>
        <div
          class="grid grid-cols-1 xl:grid-cols-7 gap-4 xl:gap-16 mt-4 xl:mt-16 px-8"
        >
          <div class="xl:col-span-3">
            <img src="/empow/img/equip1.png" alt="foto" />
          </div>
          <div class="xl:col-span-4 flex flex-col justify-center">
            <p class="my-4 xl:my-8">
              Cuenta con una pantalla de infoentretenimiento de 10.25” con
              control inteligente para ajustar el A/C, sistemas ADAS y
              seleccionar el modo de manejo. Además, incluye conectividad
              avanzada con Apple CarPlay y Carbit Link Android, brindando al
              conductor una experiencia intuitiva y completamente conectada
              durante cada trayecto.
            </p>
          </div>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section
        class="xl:bg-[url('/empow/img/fondo-equip.svg')] bg-contain bg-no-repeat xl:aspect-[1440/621]"
      >
        <h2 class="poppins-bold uppercase text-3xl xl:text-6xl xl:text-right">
          EQUIPAMIENTO Y TECNOLOGÍA
        </h2>
        <div
          class="grid grid-cols-1 xl:grid-cols-7 gap-4 xl:gap-16 mt-4 xl:mt-16 px-8"
        >
          <div class="xl:col-span-3">
            <img src="/empow/img/equip2.png" alt="foto" />
          </div>
          <div class="xl:col-span-4 flex flex-col justify-center">
            <p class="my-4 xl:my-8">
              Está equipado con una pantalla multi-información LCD de 7”, que
              permite al conductor visualizar los indicadores clave del
              vehículo, como el estado del sistema ADAS, la presión de los
              neumáticos (TPMS) y otros parámetros esenciales. Esta pantalla
              ofrece una experiencia de conducción más segura y eficiente al
              tener toda la información accesible de un vistazo.
            </p>
          </div>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section
        class="xl:bg-[url('/empow/img/fondo-equip.svg')] bg-contain bg-no-repeat xl:aspect-[1440/621]"
      >
        <h2 class="poppins-bold uppercase text-3xl xl:text-6xl xl:text-right">
          EQUIPAMIENTO Y TECNOLOGÍA
        </h2>
        <div
          class="grid grid-cols-1 xl:grid-cols-7 gap-4 xl:gap-16 mt-4 xl:mt-16 px-8"
        >
          <div class="xl:col-span-3">
            <img src="/empow/img/equip3.png" alt="foto" />
          </div>
          <div class="xl:col-span-4 flex flex-col justify-center">
            <p class="my-4 xl:my-8">
              En la consola central se ubica el botón de encendido/apagado,
              freno de mano electrónico (EPB) y la función Auto-hold para mayor
              comodidad. Además, cuenta con un práctico ajuste de volumen y una
              palanca de cambios electrónica tipo joystick, ofreciendo un
              control intuitivo y moderno al conductor.
            </p>
          </div>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section
        class="xl:bg-[url('/empow/img/fondo-equip.svg')] bg-contain bg-no-repeat xl:aspect-[1440/621]"
      >
        <h2 class="poppins-bold uppercase text-3xl xl:text-6xl xl:text-right">
          EQUIPAMIENTO Y TECNOLOGÍA
        </h2>
        <div
          class="grid grid-cols-1 xl:grid-cols-7 gap-4 xl:gap-16 mt-4 xl:mt-16 px-8"
        >
          <div class="xl:col-span-3">
            <img src="/empow/img/equip4.png" alt="foto" />
          </div>
          <div class="xl:col-span-4 flex flex-col justify-center">
            <p class="my-4 xl:my-8">
              El volante multifunción forrado en ecocuero ofrece un tacto suave
              y cómodo, además de incorporar controles para gestionar el sistema
              de infoentretenimiento, las llamadas y los modos de conducción. Su
              diseño ergonómico permite un agarre firme, mejorando la
              experiencia de manejo y brindando acceso a las principales
              funciones del vehículo sin quitar las manos del volante.
            </p>
          </div>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section
        class="xl:bg-[url('/empow/img/fondo-equip.svg')] bg-contain bg-no-repeat xl:aspect-[1440/621]"
      >
        <h2 class="poppins-bold uppercase text-3xl xl:text-6xl xl:text-right">
          EQUIPAMIENTO Y TECNOLOGÍA
        </h2>
        <div
          class="grid grid-cols-1 xl:grid-cols-7 gap-4 xl:gap-16 mt-4 xl:mt-16 px-8"
        >
          <div class="xl:col-span-3">
            <img src="/empow/img/equip5.png" alt="foto" />
          </div>
          <div class="xl:col-span-4 flex flex-col justify-center">
            <p class="my-4 xl:my-8">
              Ofrece cuatro modos de conducción ajustables para adaptarse a
              cualquier situación: Económico (ECO) para optimizar el consumo de
              combustible, Confort (COMFORT) para una experiencia de manejo
              suave, Deportivo (SPORT) para una respuesta más ágil, y Deportivo
              Extremo (SPORT+) para una conducción más emocionante. Además,
              cuenta con 8 módulos personalizables que permiten ajustar la
              experiencia al estilo de manejo preferido del conductor.
            </p>
          </div>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section
        class="xl:bg-[url('/empow/img/fondo-equip.svg')] bg-contain bg-no-repeat xl:aspect-[1440/621]"
      >
        <h2 class="poppins-bold uppercase text-3xl xl:text-6xl xl:text-right">
          EQUIPAMIENTO Y TECNOLOGÍA
        </h2>
        <div
          class="grid grid-cols-1 xl:grid-cols-7 gap-4 xl:gap-16 mt-4 xl:mt-16 px-8"
        >
          <div class="xl:col-span-3">
            <img src="/empow/img/equip6.png" alt="foto" />
          </div>
          <div class="xl:col-span-4 flex flex-col justify-center">
            <p class="my-4 xl:my-8">
              Las luces ambientales ajustables ofrecen hasta 32 colores que se
              sincronizan con el ritmo de la música, creando una atmósfera
              envolvente en el interior del vehículo. Este sistema permite
              personalizar la iluminación según el estado de ánimo o la ocasión,
              brindando una experiencia de conducción única y más placentera.
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
