<!-- Swiper -->
<div class="swiper mySwiper leftSwiper my-8 xl:my-16">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <section class="grid grid-cols-1 xl:grid-cols-7">
        <h2 class="xl:hidden poppins-bold uppercase text-3xl mb-2">EXTERIOR</h2>
        <div class="xl:col-span-3">
          <img src="/aion-y/img/ext2.png" alt="foto" />
        </div>
        <div class="xl:col-span-4">
          <h2 class="hidden xl:block poppins-bold uppercase text-6xl pl-20">
            EXTERIOR
          </h2>
          <p
            class="xl:my-8 xl:bg-[url('/aion-y/img/fondo-der.svg')] p-4 xl:py-10 xl:px-20"
          >
            Faros LED completos de alas de ángel que destacan no solo por su
            estilo moderno y llamativo, sino también por su funcionalidad, menor
            consumo y durabilidad. Ofrecen una iluminación potente con un total
            de 102 LEDs. Son brillantes y de largo alcance, mejorando la
            seguridad en la conducción nocturna. Este faro es suministrado por
            el mismo proveedor que Audi y BMW, garantizando su enorme calidad.
          </p>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section class="grid grid-cols-1 xl:grid-cols-7">
        <h2 class="xl:hidden poppins-bold uppercase text-3xl mb-2">EXTERIOR</h2>
        <div class="xl:col-span-3">
          <img src="/aion-y/img/ext-manija.png" alt="foto" />
        </div>
        <div class="xl:col-span-4">
          <h2 class="hidden xl:block poppins-bold uppercase text-6xl pl-20">
            EXTERIOR
          </h2>
          <p
            class="xl:my-8 xl:bg-[url('/aion-y/img/fondo-der.svg')] p-4 xl:py-10 xl:px-20"
          >
            Manija de puerta eléctrica oculta que mejora la aerodinámica del
            vehículo al reducir la resistencia al viento y favorece la autonomía
            de los autos eléctricos, brindando además un toque de sofisticación.
            Al acercarte con la llave, las manijas se despliegan
            automáticamente, ofreciendo una experiencia de alta gama. Además,
            incluyen tecnología anti-pinzamiento para garantizar la seguridad de
            los pasajeros.
          </p>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section class="grid grid-cols-1 xl:grid-cols-7">
        <h2 class="xl:hidden poppins-bold uppercase text-3xl mb-2">EXTERIOR</h2>
        <div class="xl:col-span-3">
          <img src="/aion-y/img/ext3.png" alt="foto" />
        </div>
        <div class="xl:col-span-4">
          <h2 class="hidden xl:block poppins-bold uppercase text-6xl pl-20">
            EXTERIOR
          </h2>
          <p
            class="xl:my-8 xl:bg-[url('/aion-y/img/fondo-der.svg')] p-4 xl:py-10 xl:px-20"
          >
            Llantas de aluminio modernas de 17 pulgadas diseñadas para optimizar
            su rendimiento. Con neumáticos 215/55 R17, estas llantas ofrecen un
            equilibrio perfecto entre estabilidad y eficiencia, garantizando una
            conducción suave y segura. Su diseño de aleación de aluminio resalta
            el estilo moderno del GAC Aion Y, al tiempo que mejora la
            aerodinámica y el consumo de energía.
          </p>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section class="grid grid-cols-1 xl:grid-cols-7">
        <h2 class="xl:hidden poppins-bold uppercase text-3xl mb-2">EXTERIOR</h2>
        <div class="xl:col-span-3">
          <img src="/aion-y/img/ext4.png" alt="foto" />
        </div>
        <div class="xl:col-span-4">
          <h2 class="hidden xl:block poppins-bold uppercase text-6xl pl-20">
            EXTERIOR
          </h2>
          <p
            class="xl:my-8 xl:bg-[url('/aion-y/img/fondo-der.svg')] p-4 xl:py-10 xl:px-20"
          >
            El diseño posterior del GAC Aion Y combina funcionalidad y estilo
            moderno. Su diseño vertical del poste C maximiza el espacio para la
            cabeza y el maletero, proporcionando mayor confort a los pasajeros.
            Además, la luz trasera de línea de horizonte no solo resalta la
            estética elegante del vehículo, sino que también mejora la
            visibilidad en la carretera, reforzando su enfoque en seguridad y
            tecnología avanzada.
          </p>
        </div>
      </section>
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
