<!-- Swiper -->
<div class="swiper mySwiper leftSwiper my-8 xl:my-16">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <section class="grid grid-cols-1 xl:grid-cols-7">
        <h2 class="xl:hidden poppins-bold uppercase text-3xl mb-2">EXTERIOR</h2>
        <div class="xl:col-span-3">
          <img src="/empow/img/ext1.png" alt="foto" />
        </div>
        <div class="xl:col-span-4">
          <h2 class="hidden xl:block poppins-bold uppercase text-6xl pl-20">
            EXTERIOR
          </h2>
          <p
            class="xl:my-8 xl:bg-[url('/empow/img/fondo-der.svg')] p-4 xl:py-10 xl:px-20"
          >
            Sus faros cuentan con luz LED diurnas integradas (LDRL). Este
            sistema no solo mejora la visibilidad en todas las condiciones de
            manejo, sino que también realza el diseño aerodinámico y moderno del
            vehículo, brindando un toque deportivo y funcional al mismo tiempo.
          </p>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section class="grid grid-cols-1 xl:grid-cols-7">
        <h2 class="xl:hidden poppins-bold uppercase text-3xl mb-2">EXTERIOR</h2>
        <div class="xl:col-span-3">
          <img src="/empow/img/ext2.png" alt="foto" />
        </div>
        <div class="xl:col-span-4">
          <h2 class="hidden xl:block poppins-bold uppercase text-6xl pl-20">
            EXTERIOR
          </h2>
          <p
            class="xl:my-8 xl:bg-[url('/empow/img/fondo-der.svg')] p-4 xl:py-10 xl:px-20"
          >
            La máscara frontal de este sedán destaca por su diseño vertical y
            audaz, que le otorga una presencia imponente en carretera. Su
            estructura aerodinámica mejora la eficiencia del vehículo, mientras
            que sus detalles deportivos refuerzan su carácter dinámico y
            moderno, brindándole una identidad única.
          </p>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section class="grid grid-cols-1 xl:grid-cols-7">
        <h2 class="xl:hidden poppins-bold uppercase text-3xl mb-2">EXTERIOR</h2>
        <div class="xl:col-span-3">
          <img src="/empow/img/ext3.png" alt="foto" />
        </div>
        <div class="xl:col-span-4">
          <h2 class="hidden xl:block poppins-bold uppercase text-6xl pl-20">
            EXTERIOR
          </h2>
          <p
            class="xl:my-8 xl:bg-[url('/empow/img/fondo-der.svg')] p-4 xl:py-10 xl:px-20"
          >
            Las llantas de aleación de 18" no solo realzan la apariencia
            deportiva, sino que también ofrecen un rendimiento superior en
            términos de estabilidad y maniobrabilidad. Su diseño liviano y
            resistente mejora la eficiencia del vehículo, brindando una
            conducción más suave y precisa, ideal para quienes buscan estilo y
            alto desempeño.
          </p>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section class="grid grid-cols-1 xl:grid-cols-7">
        <h2 class="xl:hidden poppins-bold uppercase text-3xl mb-2">EXTERIOR</h2>
        <div class="xl:col-span-3">
          <img src="/empow/img/ext4.png" alt="foto" />
        </div>
        <div class="xl:col-span-4">
          <h2 class="hidden xl:block poppins-bold uppercase text-6xl pl-20">
            EXTERIOR
          </h2>
          <p
            class="xl:my-8 xl:bg-[url('/empow/img/fondo-der.svg')] p-4 xl:py-10 xl:px-20"
          >
            Las cuatro salidas de tubo de escape aportan un diseño sofisticado y
            funcional. Este sistema optimiza el flujo de gases, mejorando la
            eficiencia del motor y ofreciendo un rendimiento más fluido. Además,
            complementan la estética del vehículo, brindando una presencia más
            moderna y llamativa.
          </p>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section class="grid grid-cols-1 xl:grid-cols-7">
        <h2 class="xl:hidden poppins-bold uppercase text-3xl mb-2">EXTERIOR</h2>
        <div class="xl:col-span-3">
          <img src="/empow/img/ext5.png" alt="foto" />
        </div>
        <div class="xl:col-span-4">
          <h2 class="hidden xl:block poppins-bold uppercase text-6xl pl-20">
            EXTERIOR
          </h2>
          <p
            class="xl:my-8 xl:bg-[url('/empow/img/fondo-der.svg')] p-4 xl:py-10 xl:px-20"
          >
            El GAC Empow destaca por su diseño exterior dinámico y sofisticado,
            con líneas fluidas que le otorgan una apariencia moderna y elegante.
            Su parrilla frontal de gran tamaño y detalles estilizados combinan a
            la perfección con los faros LED, mientras que las formas angulares
            en la carrocería proyectan una sensación de movimiento, incluso
            estando detenido. Este diseño fusiona estética y funcionalidad,
            logrando una presencia imponente y refinada en cualquier entorno.
          </p>
        </div>
      </section>
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
