<!-- Swiper -->
<div class="swiper mySwiper rightSwiper my-8 xl:my-16">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <section class="grid xl:grid-cols-7">
        <div class="col-span-4">
          <h2 class="poppins-bold uppercase text-3xl xl:text-6xl xl:pl-20 mb-2">
            INTERIOR
          </h2>
          <div class="xl:hidden">
            <img src="/empow/img/int1.png" alt="foto" />
          </div>
          <p
            class="xl:my-8 xl:bg-[url('/empow/img/fondo-izq.svg')] p-4 xl:py-10 xl:px-20"
          >
            El interior del GAC Empow ofrece un espacio amplio y cómodo, pensado
            para brindar confort a todos los ocupantes. Equipado con asientos de
            eco-cuero, el habitáculo combina elegancia y funcionalidad. Además,
            cuenta con aire acondicionado automático, ductos de ventilación para
            los asientos traseros y un sistema de iluminación ambiental
            multicolor, proporcionando una experiencia de manejo más placentera
            y personalizada.
          </p>
        </div>
        <div class="hidden xl:block col-span-3">
          <img src="/empow/img/int1.png" alt="foto" />
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section class="grid xl:grid-cols-7">
        <div class="col-span-4">
          <h2 class="poppins-bold uppercase text-3xl xl:text-6xl xl:pl-20 mb-2">
            INTERIOR
          </h2>
          <div class="xl:hidden">
            <img src="/empow/img/int2.png" alt="foto" />
          </div>
          <p
            class="xl:my-8 xl:bg-[url('/empow/img/fondo-izq.svg')] p-4 xl:py-10 xl:px-20"
          >
            Los asientos deportivos cuentan con un diseño que garantiza
            comodidad y soporte durante la conducción. Fabricados con materiales
            de alta calidad, estos asientos brindan una sujeción óptima en
            curvas y movimientos bruscos, mejorando la experiencia de manejo.
            Además, su diseño elegante añade un toque de estilo al interior del
            vehículo.
          </p>
        </div>
        <div class="hidden xl:block col-span-3">
          <img src="/empow/img/int2.png" alt="foto" />
        </div>
      </section>
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
