<!-- Swiper -->
<div class="swiper mySwiper rightSwiper my-8 xl:my-16">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <section class="grid xl:grid-cols-7">
        <div class="col-span-4">
          <h2 class="poppins-bold uppercase text-3xl xl:text-6xl xl:pl-20 mb-2">
            INTERIOR
          </h2>
          <div class="xl:hidden">
            <img src="/aion-y/img/int-espacio.png" alt="foto" />
          </div>
          <p
            class="xl:my-8 xl:bg-[url('/aion-y/img/fondo-izq.svg')] p-4 xl:py-10 xl:px-20"
          >
            Espacio interior increíblemente amplio que garantiza comodidad en
            cada trayecto. Su disposición de asientos flexible permite adaptar
            el interior a distintas necesidades, con configuraciones que van
            desde el modo estándar hasta el modo campamento. Esta versatilidad
            asegura el máximo confort, haciendo que cada viaje sea más
            placentero y funcional.
          </p>
        </div>
        <div class="hidden xl:block col-span-3">
          <img src="/aion-y/img/int-espacio.png" alt="foto" />
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section class="grid xl:grid-cols-7">
        <div class="col-span-4">
          <h2 class="poppins-bold uppercase text-3xl xl:text-6xl xl:pl-20 mb-2">
            INTERIOR
          </h2>
          <div class="xl:hidden">
            <img src="/aion-y/img/int-maletero.png" alt="foto" />
          </div>
          <p
            class="xl:my-8 xl:bg-[url('/aion-y/img/fondo-izq.svg')] p-4 xl:py-10 xl:px-20"
          >
            Maletero con un volumen de 405 litros, expandible hasta 1200 litros
            al abatir los asientos traseros. Su diseño flexible permite
            ajustarlo con una placa divisora que optimiza el espacio de carga
            según tus necesidades. Ya sea para viajes largos o para el uso
            diario, el amplio maletero del GAC Aion Y asegura que siempre
            tendrás el espacio necesario para todo lo que desees llevar.
          </p>
        </div>
        <div class="hidden xl:block col-span-3">
          <img src="/aion-y/img/int-maletero.png" alt="foto" />
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section class="grid xl:grid-cols-7">
        <div class="col-span-4">
          <h2 class="poppins-bold uppercase text-3xl xl:text-6xl xl:pl-20 mb-2">
            INTERIOR
          </h2>
          <div class="xl:hidden">
            <img src="/aion-y/img/int-techo.png" alt="foto" />
          </div>
          <p
            class="xl:my-8 xl:bg-[url('/aion-y/img/fondo-izq.svg')] p-4 xl:py-10 xl:px-20"
          >
            Techo solar panorámico que ofrece una experiencia de conducción
            llena de luz y amplitud. Con una superficie de iluminación de 0.74
            m2, este techo permite que el interior del vehículo se inunde de luz
            natural, creando un ambiente más abierto y agradable para todos los
            pasajeros.
          </p>
        </div>
        <div class="hidden xl:block col-span-3">
          <img src="/aion-y/img/int-techo.png" alt="foto" />
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section class="grid xl:grid-cols-7">
        <div class="col-span-4">
          <h2 class="poppins-bold uppercase text-3xl xl:text-6xl xl:pl-20 mb-2">
            INTERIOR
          </h2>
          <div class="xl:hidden">
            <img src="/aion-y/img/int-puerta.png" alt="foto" />
          </div>
          <p
            class="xl:my-8 xl:bg-[url('/aion-y/img/fondo-izq.svg')] p-4 xl:py-10 xl:px-20"
          >
            El GAC Aion Y cuenta con un gran ángulo de apertura de puertas de
            casi 90 grados, facilitando enormemente el acceso al interior del
            vehículo. Ya sea que transportes niños, mascotas o equipaje
            voluminoso, esta apertura amplia hace que entrar y salir del auto
            sea mucho más cómodo, especialmente para personas mayores o con
            movilidad reducida
          </p>
        </div>
        <div class="hidden xl:block col-span-3">
          <img src="/aion-y/img/int-puerta.png" alt="foto" />
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section class="grid xl:grid-cols-7">
        <div class="col-span-4">
          <h2 class="poppins-bold uppercase text-3xl xl:text-6xl xl:pl-20 mb-2">
            INTERIOR
          </h2>
          <div class="xl:hidden">
            <img src="/aion-y/img/int-espacio2.png" alt="foto" />
          </div>
          <p
            class="xl:my-8 xl:bg-[url('/aion-y/img/fondo-izq.svg')] p-4 xl:py-10 xl:px-20"
          >
            Este modelo destaca por su amplio espacio interior, diseñado para
            ofrecer máxima comodidad a sus ocupantes. Con una distancia entre
            ejes de 2750 mm, el vehículo proporciona un generoso espacio para
            las piernas tanto en la parte delantera como en la trasera,
            superando incluso a modelos de lujo en su categoría. Este SUV
            eléctrico cuenta con una disposición flexible de asientos que se
            puede adaptar fácilmente para ofrecer aún más capacidad de carga o
            mayor confort, ideal para cualquier aventura o viaje.
          </p>
        </div>
        <div class="hidden xl:block col-span-3">
          <img src="/aion-y/img/int-espacio2.png" alt="foto" />
        </div>
      </section>
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
