<img src="/img/menu.svg" alt="Menú" id="menu-open" class="w-9 p-1 xl:hidden" />
<div
  id="dropdown"
  class="hidden absolute top-0 left-0 w-full p-2 bg-black text-white"
>
  <div class="flex justify-between pb-2">
    <img src="/img/logo-gac.svg" alt="GAC Motor" class="w-36" />
    <img src="/img/cerrar.svg" alt="cerrar" id="menu-close" class="w-6" />
  </div>
  <nav class="border-t border-b uppercase poppins-medium py-2">
    <ul class="[&>li]:py-2">
      <li><a href="#general">Información general</a></li>
      <li>
        <a href="#equipamiento">Equipamiento y tecnología</a>
      </li>
      <li><a href="#seguridad">Seguridad</a></li>
      <li>
        <a href="#especificaciones">Especificaciones técnicas</a>
      </li>
      <li><a href="#precios">Precios y financiamiento</a></li>
    </ul>
  </nav>
  <div class="flex justify-center gap-4 pt-8 pb-6">
    <a href="https://www.facebook.com/GAC-Motor-Chile-117678656600095/" class=""
      ><img src="/img/fb.svg" alt="Facebook" class="w-6" /></a
    >
    <a href="https://www.instagram.com/gacmotor_cl/" class=""
      ><img src="/img/insta.svg" alt="Instgram" class="w-6" /></a
    >
  </div>
</div>

<script is:inline>
  const menuOpen = document.getElementById("menu-open");
  const menuClose = document.getElementById("menu-close");
  const dropdown = document.getElementById("dropdown");

  menuOpen.addEventListener("click", () => {
    dropdown.classList.remove("hidden");
  });

  menuClose.addEventListener("click", () => {
    dropdown.classList.add("hidden");
  });

  // Ocultar menú al hacer clic en un enlace
  dropdown.querySelectorAll("a").forEach((anchor) => {
    anchor.addEventListener("click", () => {
      dropdown.classList.add("hidden");
    });
  });
</script>
