<!-- Swiper -->
<div class="swiper mySwiper rightSwiper2 py-8 xl:py-0 xl:my-16" id="seguridad">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <section
        class="xl:bg-[url('/img/fondo-seg.svg')] bg-contain bg-no-repeat xl:aspect-[1440/621]"
      >
        <h2 class="poppins-bold uppercase text-3xl xl:text-6xl">Seguridad</h2>
        <div
          class="grid grid-cols-1 xl:grid-cols-7 gap-4 xl:gap-16 mt-4 xl:mt-16 px-8"
        >
          <div class="xl:hidden">
            <img src="/img/seg1.png" alt="foto" />
          </div>
          <div class="xl:col-span-4 flex flex-col justify-center">
            <p class="my-4 xl:my-8">
              El GAC Empow ofrece un completo sistema de seguridad que incluye
              sistema de reconocimiento de señales de tráfico (TSR) y asistente
              de mantenimiento de carril (LKA), garantizando un manejo más
              seguro en diversas condiciones. Además, cuenta con sistemas de
              frenado especializados como el frenado automático de emergencia
              (AEB). Para mayor seguridad en terrenos inclinados, incorpora el
              control de arranque en pendientes (HHC) y freno de estacionamiento
              electrónico (con Autohold), brindando confianza y estabilidad en
              cualquier situación.
            </p>
          </div>
          <div class="hidden xl:block xl:col-span-3">
            <img src="/img/seg1.png" alt="foto" />
          </div>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section
        class="xl:bg-[url('/img/fondo-seg.svg')] bg-contain bg-no-repeat xl:aspect-[1440/621]"
      >
        <h2 class="poppins-bold uppercase text-3xl xl:text-6xl">Seguridad</h2>
        <div
          class="grid grid-cols-1 xl:grid-cols-7 gap-4 xl:gap-16 mt-4 xl:mt-16 px-8"
        >
          <div class="xl:hidden">
            <img src="/img/seg2.png" alt="foto" />
          </div>
          <div class="xl:col-span-4 flex flex-col justify-center">
            <p class="my-4 xl:my-8">
              Está equipado con sistemas avanzados de asistencia a la conducción
              (ADAS) de nivel 2 que incluyen tecnologías como la advertencia de
              cambio de carril (LDW), el asistente de crucero integrado (ICA) y
              la alerta de tráfico cruzado trasero (RCTA). También ofrece
              advertencia de colisión frontal (FCW), frenado automático de
              emergencia (AEB), y asistencia de mantenimiento de carril (LKA).
              Además, incorpora reconocimiento de señales de tráfico (TSR),
              brindando una experiencia de conducción más segura y asistida en
              todo momento.
            </p>
          </div>
          <div class="hidden xl:block xl:col-span-3">
            <img src="/img/seg2.png" alt="foto" />
          </div>
        </div>
      </section>
    </div>
    <div class="swiper-slide">
      <section
        class="xl:bg-[url('/img/fondo-seg.svg')] bg-contain bg-no-repeat xl:aspect-[1440/621]"
      >
        <h2 class="poppins-bold uppercase text-3xl xl:text-6xl">Seguridad</h2>
        <div
          class="grid grid-cols-1 xl:grid-cols-7 gap-4 xl:gap-16 mt-4 xl:mt-16 px-8"
        >
          <div class="xl:hidden">
            <img src="/img/seg3.png" alt="foto" />
          </div>
          <div class="xl:col-span-4 flex flex-col justify-center">
            <p class="my-4 xl:my-8">
              Este sedán ofrece seguridad activa y pasiva de alto nivel. Cuenta
              con frenado automático de emergencia, control de estabilidad y
              alerta de cambio de carril. Además, incorpora seis airbags y una
              estructura reforzada de la carrocería para proteger a los
              ocupantes en caso de impacto. Estos sistemas brindan máxima
              protección y confianza en cada trayecto.
            </p>
          </div>
          <div class="hidden xl:block xl:col-span-3">
            <img src="/img/seg3.png" alt="foto" />
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
